.background-container {
  display: flex;
  height: 100vh;
  animation: move 10s linear reverse infinite;
}

.background {
  flex-shrink: 0;
  height: 100%;
  background: url('./source/fundo.png') no-repeat;
  background-size: cover;
}

.camada5 {
  flex-shrink: 0;
  height: 100%;
  background: url('./source/quintaCamada.png') no-repeat;
  background-size: fill;
  animation: move5 20s linear infinite;
}

.camada5-1 {
  animation-delay: 5s;
  opacity: 0;
}

.camada5-2 {
  animation-delay: 2s;
  opacity: 0;
}

.camada4 {
  flex-shrink: 0;
  height: 100%;
  background: url('./source/quartaCamada.png') no-repeat;
  background-size: fill;
  animation: move5 17s linear infinite;
}

.camada4-1 {
  animation-delay: 10s;
  opacity: 0;
}


@keyframes move {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

@keyframes move5 {
  from {
    transform: translateX(-100%);
    opacity: 1;
  }

  to {
    transform: translateX(100%);
    opacity: 1;
  }
}