.background-container {
  animation: move 20s linear reverse infinite;
}

.background {
  height: 130%;
  background: url('./source/fundo.png') no-repeat;
  background-size: fill;
}

.camada1,
.camada2,
.camada25,
.camada3,
.camada4,
.camada5 {
  background-repeat: no-repeat;
  background-size: fill;
  animation: move5 linear infinite;
}

.camada5 {
  background: url('./source/quintaCamada.png');
  animation-duration: 55s;
  animation-delay: -2.5s;
}

.camada4 {
  background: url('./source/quartaCamada.png');
  animation-duration: 60s;
  animation-delay: -1.5s;
}

.camada3 {
  background: url('./source/terceiraCamada.png');
  animation-duration: 58s;
  animation-delay: -0.5s;
}

.camada2 {
  background: url('./source/segundaCamada.png');
  animation-duration: 35s;
  animation-direction: reverse;
  animation-delay: -1s;
}

.camada25 {
  background: url('./source/segundaCamada.png');
  animation-duration: 30s;
  animation-direction: reverse;
  animation-delay: -2.7s;
}

.camada1 {
  background: url('./source/primeiraCamada.png') no-repeat;
  animation-duration: 10s;
  animation-direction: reverse;
  background-size: fill;
  animation-delay: -3s;
}

.camada5.num1,
.camada4.num1,
.camada3.num1,
.camada2.num1,
.camada1.num1 {
  animation-delay: -20s;
}

.camada5.num2,
.camada4.num2,
.camada3.num2,
.camada2.num2,
.camada1.num2 {
  animation-delay: -30s;
}

.castle-canvas {
  transform: translateX(-50%);
}

.dragon-canvas {
  transform: translateY(65%);
}

.dragons-cloud {
  transform: translateY(100%);
}



.title-content {
  transform: translateX(-50%) translateY(-70%);
  animation: title-born 2.2s linear;
}

.dragon-title {
  font-size: clamp(3.5rem, 13vw, 15vw);
  animation: flashing .1s linear infinite 1s;
}

.dragon-sub-title {
  font-size: clamp(1rem, 2.8vw, 4vw);
  transform: translateY(90%) translateX(11%);
  animation: flashing .1s linear infinite 1s;
}

.arrow {
  transform: translateX(-50%);
  height: clamp(3.2rem, 4vw, 10vw);
  width: clamp(3.2rem, 4vw, 10vw);
  animation: arrow-Born 4.5s linear;
}

@keyframes flashing {
  0% {
    color: white;
  }

  100% {
    color: #262626;
  }
}

@keyframes title-born {
  0% {
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  95% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@media (orientation: portrait) {
  .title-content {
    left: 50%;
    top: 20%;
    transform: translateX(-50%) translateY(-70%);
    opacity: 0;
    animation: title-born 2.2s linear;
  }

}

@keyframes arrow-Born {
  0% {
    opacity: 0;
  }

  99% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}



@keyframes move {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

@keyframes move5 {
  from {
    transform: translateX(-100%);
    opacity: 1;
  }

  to {
    transform: translateX(100%);
    opacity: 1;
  }
}


@media (orientation: landscape) {
  .dragons-cloud {
    visibility: hidden;
  }

}