.works {
    background: url('./source/bg1.png') no-repeat;
    background-size: cover;
    background-position: center;
}

.works::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

.project-content {
    left: 50%;
    transform: translateX(-50%)
}

.card-works {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 5px 5px #00000038;
}

.card-works.nonSelect {
    background-image: url("../source/paper_texture.png");
}

.card-works.player1 {
    background-image: url("../source/player1_texture.png");
}

.card-works.player2 {
    background-image: url("../source/player2_texture.png");
}

.works .title {
    font-size: clamp(2.5rem, 5dvw, 10rem);
}

.works .sub-title {
    font-size: clamp(.6rem, 1dvw, 3rem);
}

.works .name {
    font-size: clamp(.9rem, 2dvw, 5rem);
    word-break: break-all;
}

.works .desc {
    font-size: clamp(.6rem, 1.2dvw, 3rem);
    word-break: break-all;
}

.flow {
    overflow-y: scroll;
    scrollbar-width: 0;
}

.flow::-webkit-scrollbar {
    width: 0;
}

.techs-main {
    transform: translateY(-250%);
}

.techs-main {
    transform: translate(.2%, -220%);
}

.techs-main .icon {
    height: 100%;
    width: 100%;
}

.works .skill-content .icon {
    height: clamp(50px, 6vw, 8vw);
    width: clamp(50px, 6vw, 8vw);
}

.button-play {
    background: url('../source/player2_texture.png') no-repeat;
    background-size: cover;
    font-size: clamp(1rem, 3dvw, 7rem);
    border-radius: 50px;
}

@media (width < 48rem
    /* 768px */
) {
    .techs-main {
        transform: translate(.5%, -205%);
    }
}