.skill-content {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../source/paper_texture.png");
}

.skill-content .icon {
    height: clamp(60px, 9vw, 12vw);
    width: clamp(60px, 9vw, 12vw);
}

.skill-content .title {
    font-size: clamp(3rem, 6dvw, 12rem);
}

.content-tech {
    border: solid transparent .45em;
    transition: all .2s linear;
}

.content-tech.selected {
    border-color: #262626;
}

.content-tech::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 91%;
    height: 91%;
    border: solid transparent .3em;
    z-index: 10;
    border-radius: 50%;
}

.content-tech.selected::before {
    border-color: #262626;
}

.skill-content .name-title {
    font-size: clamp(1.2rem, 2dvw, 8rem);
}

.skill-content .type-title {
    font-size: clamp(.9rem, 1dvw, 5rem);
}

.skill-content .desc-text {
    font-size: clamp(.8rem, 1dvw, 5rem);
}