.background-hilda {
    background: url('./source/fundo.png') no-repeat;
    background-size: cover;
}

.camada1-hilda,
.camada3-hilda,
.camada4-hilda {
    background-repeat: no-repeat;
    animation: move5 linear infinite reverse;
    background-size: fill;
}

.camada1-hilda {
    background: url('./source/primeiraCamada.png');
    animation-duration: 120s;
    animation-delay: -6.5s;
}

.camada3-hilda {
    background: url('./source/terceiraCamada.png');
    animation-duration: 30s;
    animation-delay: -2.5s;
}

.camada4-hilda {
    background: url('./source/quartaCamada.png') no-repeat;
    animation-duration: 10s;
}


.camada1-hilda.num1 {
    animation-delay: -25s;
}

.hilda-container {
    display: flex;
    align-items: end;
    animation: move 10s linear infinite;
}

.hilda-part {
    height: 30%;
    background: url('./source/segundaCamada.png') no-repeat;
    background-size: fill;
}

.hilda-title {
    font-size: clamp(3rem, 5dvw, 10rem);
    animation: flashing .1s linear infinite 1s;
}

@media (orientation: portrait) {
    .hilda-part {
        transform: translateY(8dvh);
    }
}